.main{
    background: url(images/main.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.he1{
    font-size: 30px;
}
.he2{
    font-size:10px;
    margin-top: -20px;
}
#logo{
    padding-top:50px;
}
#mouse{
    position: absolute;
    bottom: 0px;  
}
.mains1{
    text-align: center;
    line-height: 2;
    padding: 30px;
}
.m1{
    font-weight: bold;
    font-size: 20px;
}
.m2{
    margin-top: 0px;
}
.mains2{
    background: url(images/ser.jpg);
    background-size: cover;
    padding:70px;
    color: white;
    text-align: center;
    line-height: 2;
}
.m3{
    font-size: 20px;
    font-weight: bold;
}
.mains3{
    justify-content: center;
    margin: 20px;
}
.m5{
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}
#m61{
    display: none;
    text-align: center;
    line-height: 2;
}
#m62{
    display:none;
    text-align: center;
    line-height: 2;
}
#m63{
    display:none;
    text-align: center;
    line-height: 2;
}
.mains31{
    display: flex;
    text-align: center;
    justify-content:space-around;
    font: 10px;
    margin-top: 30px;
}
#sp{
    font-size: 15px;
    font-weight: bold;
}
#m61{
    text-align: center;
}
.im1{
    text-align: center;
}
#icon{
    height: 60px;
}
#icon1{
    height: 60px;
}
#icon2{
    height: 60px;
}
.mains4{
  justify-content: space-evenly;
}
.m7{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.f41{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.f42{
    display: flex;
    justify-content: center;
}
.f1i{
    margin-top: -50%;
    margin-left: 30px;
    width: 70%;
    text-align: center;
    background-color: white;
    display: none;
}
.f2i{
    margin: -50%;
    margin-left: 30px;
    width: 70%;
    text-align: center;
    background-color: white;
    display: none;
}
.f3i{
    margin: -50%;
    margin-left: 30px;
    width: 70%;
    text-align: center;
    background-color: white;
    display: none;
}
.f4i{
    margin: -50%;
    margin-left: 30px;
    width: 70%;
    text-align: center;
    background-color: white;
    display: none;
}
.f5i{
    margin: -50%;
    margin-left: 30px;
    width: 70%;
    text-align: center;
    background-color: white;
    display: none;
}
.f6i{
    margin: -50%;
    margin-left: 30px;
    width: 70%;
    text-align: center;
    background-color: white;
    display: none;
}
.f7i{
    margin: -50%;
    margin-left: 30px;
    width: 70%;
    text-align: center;
    background-color: white;
    display: none;
}
.f8i{
    margin: -50%;
    margin-left: 30px;
    width: 70%;
    text-align: center;
    background-color: white;
    display: none;
}
#port{
    width:150px;
    margin-left: 20px;
}
.mains5{
    background: url(images/mes.jpg);
    background-size: cover;
    color: white;
    padding-bottom:150px;
    padding-top: 50px;
    margin-top: 50px;
}
.m8{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.form1{
    display: flex;
    justify-content: center;
}
.form2{
    justify-content: center;
}
::placeholder{
    color: white;
}
.bt{
    background-color: transparent;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    border-width: thin;
    border-color: white;
    color: white;
    width:200px;
    margin-left: 550px;
}
.lbl2{
    background-color: transparent;
    border-color: white;
    border-width: thin;
    height: 30px;
    width: 25vw;
    margin-left: 20px;
}
.lbl3{
    background-color: transparent;
    height: 150px;
    width: 50vw;
    border-color: white;
    border-width: thin;
    margin-left: 320px;
}
footer{
    text-align: center;
    margin-top: 30px;
}
#pn{
    width:40px;
}
@media screen and (max-width: 500px){
    .main{
        background: url(images/main.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        color: white;
        font-weight: bold;
    }
    #mouse{
        position: relative;
        bottom: 0px;
    }
    .he1{
        font-size: 30px;
    }
    .he2{
        font-size:10px;
    }
    .mains3{
        justify-content: center;
        margin: 0px;
    }
    .mains31{
        display: block;
        text-align: center;
        justify-content:space-around;
        font: 10px;
        margin-top:0px;
    }
    .f41{
        display: block;
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .f42{
        display: block;
        justify-content: center;
        text-align: center;
    }
    .mains5{
        background: url(images/mes.jpg);
        background-size: cover;
        color: white;
    }
    .form1{
        display: block;
        text-align: center;
    }
    .form2{
        text-align: center;
        display: block;
    }
    .lbl3{
        background-color: transparent;
        height: 150px;
        width: 50vw;
        border-color: white;
        border-width: thin;
        margin-left: 0px;
    }
    footer{
        margin-top: 0px;
    }
}